
    <tr align="center">
      <th scope="row"><%= post.id %></th>
      <td><%= post.title %></td>
      <td><%= post.body %></td>
      <td><%= post.comment.count %></td>
      <td><%= link_to "Show this post", post %></td>
      <td><%= link_to "Edit this post", edit_post_path(post) %></td>
      <td><%= button_to "Destroy this post", post, method: :delete, class: "btn btn-warning" %></td>
    </tr>
