<div class="card" style="width: 18rem;">
  <div class="card-body">
    <p style="color: green"><%= notice %></p>

    <%= render @post %>

    <%= button_to "Destroy this post", @post, method: :delete %>

    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

    <%= link_to "Edit this post", edit_post_path(@post) %> |
    <%= link_to "Back to posts", posts_path %>

  </div>
</div>
