<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Name:</strong>
    <%= vehicle.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= vehicle.description %>
  </p>

  <p>
    <strong>Year of creation:</strong>
    <%= vehicle.year_of_creation %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= vehicle.category_id %>
  </p>

</div>
